---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik-https
  annotations:
    external-dns.alpha.kubernetes.io/hostname: authentik.internal.vw-ops.net
spec:
  useDefaultGateways: All
  hostnames:
    - authentik.internal.vw-ops.net
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: authentik-server
      port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik-redirect
  annotations:
    external-dns.alpha.kubernetes.io/hostname: authentik.internal.vw-ops.net
spec:
  useDefaultGateways: All
  hostnames:
  - authentik.internal.vw-ops.net
  rules:
  - filters:
    - type: RequestRedirect
      requestRedirect:
        scheme: https
        statusCode: 301

